@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link"
               asp-area="Identity"
               asp-page="/Account/Manage/Index"
               title="Manage"
               style="color: #ffffff; border-radius: 50px; transition: color 0.3s ease, transform 0.3s ease;"
               onmouseover="this.style.backgroundColor='black'; this.style.color='#DAA520'; this.style.transform='scale(1.05)';"
               onmouseout="this.style.color='#ffffff'; this.style.transform='scale(1)';">
                Hello @User.Identity?.Name!
            </a>
        </li>

        <li class="nav-item">
            <form class="form-inline"
                  asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit"
                        class="nav-link btn btn-link"
                        style="color: #ffffff; border-radius: 50px; background-color: #DAA520; transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;"
                        onmouseover="this.style.backgroundColor='#DAA520'; this.style.color='black'; this.style.transform='scale(1.05)';"
                        onmouseout="this.style.backgroundColor='#DAA520'; this.style.color='#ffffff'; this.style.transform='scale(1)';">
                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link"
               asp-area="Identity"
               asp-page="/Account/Register"
               style="color: #ffffff; border-radius: 50px; transition: color 0.3s ease, transform 0.3s ease;"
               onmouseover="this.style.backgroundColor='black'; this.style.color='#DAA520'; this.style.transform='scale(1.05)';"
               onmouseout="this.style.color='#ffffff'; this.style.transform='scale(1)';">
                <i class="fa-solid fa-right-to-bracket"></i> Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               asp-area="Identity"
               asp-page="/Account/Login"
               style="color: #ffffff; border-radius: 50px; background-color: #DAA520; transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;"
               onmouseover="this.style.backgroundColor='#DAA520'; this.style.color='black'; this.style.transform='scale(1.05)';"
               onmouseout="this.style.backgroundColor='	#DAA520'; this.style.color='#ffffff'; this.style.transform='scale(1)';">
                <i class="fa-solid fa-user"></i> Login
            </a>
        </li>


    }
</ul>
